<form [formGroup]="formGroup" (ngSubmit)="save()">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName" name="firstName" />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>The first name of the character</mat-hint>
            <mat-error>This field is required !</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName" name="lastName" />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>The last name of the character</mat-hint>
            <mat-error>This field is required !</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Birth date</mat-label>
            <input matInput formControlName="birthDate" name="birthDate" type="date" />
            <mat-hint>The birth date of the character</mat-hint>
            <mat-error>This field is required !</mat-error>
        </mat-form-field>
    </p>

    <button mat-raised-button color="primary" [routerLink]="'../'">
        Return to character list
    </button>

    <button mat-raised-button color="accent">
        Save
    </button>
</form>
