<mat-list>
    <mat-list-item *ngFor="let item of items">
        <app-character-item [item]="item"
                            (refreshItemsList)="refreshItemsList()">
        </app-character-item>
    </mat-list-item>
    <button mat-raised-button color="accent" [routerLink]="'edit'">
        Add new character
    </button>

</mat-list>
