<mat-chip-list>
    <mat-chip selected color="primary">
        {{ item?.firstName || 'John' }}
    </mat-chip>
    <mat-chip selected color="primary">
        {{ item?.lastName || 'Doe' }}
    </mat-chip>
    <mat-chip selected color="primary">
        {{ item?.age + " yo" || "-" }}
    </mat-chip>
    <mat-chip selected color="warn" (click)="delete(item?.id || null)">
        <mat-icon>delete</mat-icon>
    </mat-chip>
</mat-chip-list>
