<form [formGroup]="formGroup" (ngSubmit)="save()">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Login</mat-label>
            <input matInput formControlName="login" name="login" />
            <mat-hint>Enter your login</mat-hint>
            <mat-error>This field is required !</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" name="password" />
            <mat-hint>Enter your password</mat-hint>
            <mat-error>This field is required !</mat-error>
        </mat-form-field>
    </p>

    <button mat-raised-button color="accent">
        Login
    </button>
</form>
