<app-movie-item *ngFor="let item of items" [item]="item"
                (refreshItemsList)="refreshItemsList()">
</app-movie-item>

<button mat-raised-button color="accent" [routerLink]="'edit'">
    Add new movie
</button>
