<form [formGroup]="formGroup" (ngSubmit)="save()">
    <p>
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title" name="title" />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>The title of the movie</mat-hint>
            <mat-error>This field is required !</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Year</mat-label>
            <input matInput formControlName="year" name="year" type="number" />
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-hint>The year of the movie</mat-hint>
            <mat-error>This field is required !</mat-error>
        </mat-form-field>
    </p>

    <p>
        <mat-form-field appearance="outline">
            <mat-label>Image url</mat-label>
            <input matInput formControlName="imageUrl" name="imageUrl" />
            <mat-hint>The image url of the movie</mat-hint>
            <mat-error>This field is required !</mat-error>
        </mat-form-field>
    </p>

    <button mat-raised-button color="primary" [routerLink]="'../'">
        Return to movie list
    </button>

    <button mat-raised-button color="accent">
        Save
    </button>
</form>
