mat-sidenav-container {
  height: 100%;
}

:host {
  .mat-toolbar {
    justify-content: space-between;
  }

  ::ng-deep {
    router-outlet + * {
      display: block;
      padding: 1rem;
    }
  }
}


.success-snack {
  background-color: #009933;
  color: white;
}
.error-snack {
  background-color: #ff0000;
  color: white;
}
