<mat-card>
    <mat-card-header>
        <mat-card-title>
            {{ item?.title }}
        </mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="item?.imageUrl" />
    <mat-card-content>
        <mat-chip-list>
            Release year : {{ item?.year }}
            <mat-chip selected color="warn" (click)="delete(item?.id || null)">
                <mat-icon>delete</mat-icon>
            </mat-chip>
        </mat-chip-list>
    </mat-card-content>
</mat-card>
